<config>
  <databases>
    <database>
      <name>common</name>
    </database>
    <database>
      <name>ink_sanguo</name>
      <num>100</num>
    </database>
  </databases>
  <tables>
    <table>
      <name>account</name>
      <num>100</num>
      <database>ink_sanguo</database>
      <fields>
        <field>
          <name>uid</name>
          <type>uint64</type>
          <auto_increase>0</auto_increase>
        </field>
        <field>
          <name>username</name>
          <type>varchar(64)</type>
        </field>
        <field>
          <name>password</name>
          <type>varchar(64)</type>
        </field>
        <field>
          <name>score</name>
          <type>float</type>
          <default>0</default>
        </field>
        <field>
          <name>create_time</name>
          <type>datetime</type>
        </field>
      </fields>
      <keys>
        <key>uid</key>
      </keys>
    </table>
    <table>
      <name>city</name>
      <database>common</database>
      <fields>
        <field>
          <name>server_id</name>
          <type>uint16</type>
        </field>
        <field>
          <name>uid</name>
          <type>uint64</type>
        </field>
        <field>
          <name>name</name>
          <type>varchar(32)</type>
        </field>
        <field>
          <name>force</name>
          <type>uint16</type>
        </field>
      </fields>
      <keys>
        <key>server_id</key>
        <key>uid</key>
      </keys>
    </table>
    <table>
      <name>hero</name>
      <num>100</num>
      <database>ink_sanguo</database>
      <fields>
        <field>
          <name>uid</name>
          <type>uint64</type>
          <auto_increase>0</auto_increase>
        </field>
        <field>
          <name>id</name>
          <type>uint16</type>
        </field>
        <field>
          <name>name</name>
          <type>varchar(64)</type>
        </field>
        <field>
          <name>level</name>
          <type>uint16</type>
          <default>1</default>
        </field>
        <field>
          <name>exp</name>
          <type>uint32</type>
          <default>0</default>
        </field>
        <field>
          <name>strength</name>
          <type>uint8</type>
        </field>
        <field>
          <name>intelligence</name>
          <type>uint8</type>
        </field>
      </fields>
      <keys>
        <key>uid</key>
      </keys>
    </table>
  </tables>
</config>
